@import url(http://fonts.googleapis.com/css?family=Lato);

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
	margin: 0;
}

header {
	min-height: 800px;
	height: 100%;
	width: 100%;
	background: url(/img/header.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFF;
	text-align: center;
}

.inner {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}
