<!DOCTYPE html>
<html>
<head>
	<title>Saturday Morning Code Utrecht</title>
	<link rel="stylesheet" href="/css/index.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/index.js"></script>
</head>
<body>
<header>
	<div class="inner">
		<h1><%= name %></h1>
		<small><%= description %></small>
	</div>
</header>



</body>
</html>

